* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background-color: #FFFDD0;
    font-family: "Roboto Condensed", sans-serif;
}

/* Header */
header {
    display: flex;
    position: sticky;
    top: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 50px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .logo-image {
    margin-right: 0;
    width: 120px;
    height: 120px;
  }
  
  .logo-text {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 83, 20);
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: darkred;
  }
  
  /* .sign-up-button {
    margin-right: 30px;
    padding: 15px 25px;
    color: #fff;
    border: none;
    font-size: 15px;
    border-radius: 0px;
    cursor: pointer;
    background-color:rgb(255, 83, 20);
    margin-right: 30px;
  } */
  
  .donate-btn {
    position: relative;
    background-color:rgb(255, 83, 20);
    color: #000;
    padding: 0.5px;
    margin: 10px;
    border-radius: 0px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  }
  
  .span-btn {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .span-btn::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .donate-btn:hover .span-btn {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .span-btn {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .donate-btn:hover,
  .donate-btn:hover .span-btn,
  .donate-btn:hover .span-btn::before {
    background: linear-gradient(320deg, rgb(228, 128, 91), rgb(214, 31, 7));
    color: #ffffff;
  }

  .donate-btn a{
    text-decoration: none;
    color: black;
  }

  /* info */

#typed {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
  }
  
  .info-container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
  }
  
  .sub-info-container .info {
    width: 45%;
    float: left;
    margin-top: 10px;
  }
  
  .sub-info-container .info h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: black;
    font-weight: 900;
    margin-bottom: 30px;
  }
  
  .sub-info-container .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
  }
  
  .sub-info-container .info button {
    border: 0;
    border-radius: 0px;
    padding: 18px 40px;
    margin-top: 25px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(255, 83, 20);
    font-family: "Roboto Condensed", sans-serif;
  }

  .sub-info-container .info button:hover{
    background-color: rgb(66, 192, 66);
  }
  
  .info-container .image {
    width: 50%;
    float: right;
    margin-top: 35px;
  }
  
  .info-container .image img {
    max-width: 100%;
  }
  
  .clearfix {
    clear: both;
  }
  
  .attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header h1{
    font-weight: 900;
    color: black;
    text-decoration: underline;
}

.box p {
    color: black;
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

.box img {
    float: right;
    width: 30px;
    height: 30px;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid rgb(255, 83, 20);
}
.red {
    border-top: 3px solid rgb(255, 83, 20);
}
.blue {
    border-top: 3px solid rgb(255, 83, 20);
}
.orange {
    border-top: 3px solid rgb(255, 83, 20);
}

h2 {
    color: black;
    font-weight: 600;
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}

/* how-to-help */
.how-to-help{
    text-align: center;
    line-height: 0.8;
    margin-bottom: 10px;
    margin-top: 100px;
}

.how-to-help .text h2{
    margin-bottom: 20px;
    font-size: 30px;
}

.how-to-help .text p{
    margin: 0 auto;
    line-height: 2;
}

